* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.container {
  margin: 0px auto; }

header {
  box-shadow: 0px 1px 11px #88888840; }

a {
  text-decoration: none;
  color: #ececec; }

h3 {
  font-size: 150%; }

.header {
  display: flex; }
  .header__logo-box {
    flex-basis: 20%;
    padding: 4px 0px 0px 4px; }
    .header__logo-box__image {
      height: 50px; }
  .header__nav-box {
    flex-basis: 80%; }
  .header ul {
    list-style: none; }
  .header__cart {
    background-color: #ececec;
    float: right;
    height: 100%;
    width: 80px;
    position: relative;
    right: 50px; }
    .header__cart__icon {
      position: absolute;
      display: inline-block;
      top: 18px;
      left: 16px; }
    .header__cart__icon .mitems {
      position: absolute;
      background-color: #50dae3;
      top: -7px;
      left: 70%;
      width: 26px;
      text-align: center;
      border-radius: 100px;
      color: #fff;
      font-size: 75%; }
    .header__cart__items {
      display: none; }
  .header__mobile-nav {
    position: absolute;
    right: 22px;
    top: 15px;
    color: #50dae3; }
  .header__menu {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 60px;
    width: 35%;
    text-align: center;
    background-color: #000;
    padding: 20px;
    font-size: 75%; }

@media (min-width: 768px) {
  .header {
    position: relative; }
    .header__cart {
      position: absolute;
      right: 0;
      height: 65%;
      width: 120px;
      bottom: 0; }
      .header__cart a {
        position: absolute;
        width: 100%;
        display: block;
        height: 100%;
        padding: 10px;
        text-transform: none; }
      .header__cart__icon {
        display: inline-block;
        position: inherit;
        top: 10px;
        left: 16px; }
        .header__cart__icon .mitems {
          display: none; }
      .header__cart__items {
        display: inline-block;
        color: #000;
        font-size: 85%;
        margin-left: 42px;
        margin-top: 5px; }
    .header__mobile-nav {
      display: none; }
    .header__logo-box__image {
      height: 60px; }
    .header__nav-box {
      display: flex; }
    .header__menu {
      display: inline-block;
      position: initial;
      width: 100%;
      text-align: center;
      background-color: transparent;
      padding: 20px;
      font-size: 75%; }
      .header__menu__1 {
        float: left;
        position: absolute;
        top: 42px; }
        .header__menu__1 li {
          display: inline-block;
          margin-right: 24px; }
      .header__menu__2 {
        float: right;
        position: absolute;
        right: 12px;
        top: 3px; }
        .header__menu__2 li {
          display: inline-block;
          margin-left: 15px; }
      .header__menu a {
        color: #000; } }

@media (min-width: 1024px) {
  .container {
    width: 80%; } }

.login-box, .signup-box {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 22px; }
  .login-box__details, .signup-box__details {
    flex-basis: 100%; }
    .login-box__details__desc, .signup-box__details__desc {
      padding: 13px 0px;
      font-size: 84%; }
  .login-box__form, .signup-box__form {
    flex-basis: 100%;
    padding: 30px 0px; }
  .login-box__form__group, .signup-box__form__group {
    position: relative;
    margin-bottom: 21px;
    margin-top: 30px; }
    .login-box__form__group input, .signup-box__form__group input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      -webkit-appearance: none;
      display: block;
      background: none;
      color: #636363;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #757575; }
      .login-box__form__group input:focus, .signup-box__form__group input:focus {
        outline: none; }
        .login-box__form__group input:focus ~ .bar:before, .login-box__form__group input:focus ~ .bar:after, .signup-box__form__group input:focus ~ .bar:before, .signup-box__form__group input:focus ~ .bar:after {
          width: 50%; }
        .login-box__form__group input:focus:focus ~ .highlight, .signup-box__form__group input:focus:focus ~ .highlight {
          animation: inputHighlighter 0.3s ease; }
      .login-box__form__group input:focus ~ label, .login-box__form__group input.used ~ label, .signup-box__form__group input:focus ~ label, .signup-box__form__group input.used ~ label {
        top: -20px;
        transform: scale(0.75);
        left: -2px;
        color: #50dae3; }
    .login-box__form__group label, .signup-box__form__group label {
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: all 0.2s ease; }
    .login-box__form__group button, .signup-box__form__group button {
      background-color: #d10256;
      border: none;
      width: 100%;
      padding: 10px;
      color: #ffffff;
      font-size: 18px; }
    .login-box__form__group .bar, .signup-box__form__group .bar {
      position: relative;
      display: block;
      width: 100%; }
      .login-box__form__group .bar:before, .login-box__form__group .bar:after, .signup-box__form__group .bar:before, .signup-box__form__group .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #4a89dc;
        transition: all 0.2s ease; }
      .login-box__form__group .bar:before, .signup-box__form__group .bar:before {
        left: 50%; }
      .login-box__form__group .bar:after, .signup-box__form__group .bar:after {
        right: 50%; }
    .login-box__form__group .highlight, .signup-box__form__group .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5; }

@media (min-width: 768px) {
  .login-box__details, .signup-box__details {
    flex-basis: 50%; }
  .login-box__form, .signup-box__form {
    flex-basis: 50%;
    flex-basis: 50%; } }

@keyframes inputHighlighter {
  from {
    background: #d10256; }
  to {
    width: 0;
    background: transparent; } }

.footer {
  display: flex;
  background-color: #ececec; }
  .footer__wrapper {
    width: 100%; }
    .footer__wrapper__copyright {
      flex: 1;
      padding: 1% 1%;
      font-size: 55%;
      text-align: center; }

@media (min-width: 768px) {
  .footer__wrapper {
    padding: 0 100px; }
    .footer__wrapper__copyright {
      font-size: 70%;
      text-align: left; } }
